body {
    color: #333333;
    font-family: Noto Sans JP, sans-serif;
    
}

/* ヘッダー　*/
header {
    font-family:"Playfair Display", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #DCEAF7;
    position: relative;
}

/* ヘッダー　ロゴ */
.logo img{
    width: 200px;
    height: 200px;
    padding: 20px;
}

.sns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#nav-pc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    gap: 10px;
}

/* ヘッダー　ulの枠*/
#nav-pc ul{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

#nav-pc ul li {
    padding: 0 10px;
}
.sns img{
    width: 30px;
    height: 30px;
}

/* メインビジュアル　*/
.main-visual img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.title {
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 60px 40px;
    color: #7FAEDB;
    font-family: "Playfair Display", Noto Sans JP;
}

.title::before,.title::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: #7FAEDB;
    margin: 0 10px;
}

.title::before {
  margin-right: 15px; /* 文字との余白 */
}
.title::after {
  margin-left: 15px; /* 文字との余白 */
}

.icon {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 80px;
}

.icon img {
    width: 400px;
    /* 親が狭くなっても画像が絶対に潰れないようにする */
    flex-shrink: 0; 
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

.subtitle {
    font-size: 32px;
    padding-bottom: 60px;
}

.text {
    font-size: 25px;
}

.subtitle,
.text,
.menu-name,
.price {
    text-align: center;
}

.concept,
.menu,
.access{
    padding: 40px 40px;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    gap: 20px;
}

.menu-item {
    align-items: center;
    /* 親が狭くなっても画像が絶対に潰れないようにする */
    width: calc(100% - 20px * 3 / 4);
    height: 400px;
    border-radius: 6px;
    border: 0.75px solid #333333;
}

.menu-item img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.menu-name {
    font-size: 18px;
    color: #333333;
}

#hot-iced
.price
.color {
    font-family: "Playfair Display";
}

.price {
    font-size: 18px;
    color: #7FAEDB;
}

.map {
    width: 45%; 
    height: 300px; 
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* これで枠が縮んでも画像が潰れません */
    display: block;
}

.access-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    gap: 60px;
}

.access-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    color: #7FAEDB;
    text-align: left;
    font-size: 32px;
    padding-bottom: 20px;
    font-family: "Playfair Display";
}

.ad {
    text-align: left;
    display: inline-block;
    width: fit-content; 
}

footer {
    background-color: #DCEAF7;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 60px 40px;
    gap: 30px;
}

.footer-left ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.footer-left ul li a {
    text-decoration: none;
    color: #7FAEDB;
    font-family: "Playfair Display", serif;
    font-size: 24px;
}

.footer-right {
    display: flex;
    justify-content: right;
    text-align: right;
    width: 55%;
    min-height: 450px;
    background: url(../img/cafe.png) no-repeat center / cover;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.btn-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;       /* 💡文字の長さにぴったり合わせる（崩れ防止の基本） */
    min-width: 160px;         /* 💡どれだけ縮んでもこれ以上は小さくならない「最低の幅」 */
    max-width: 280px;       /* ボタンの横幅を文字の長さにピッタリ合わせる */
    white-space: nowrap;       /* 文字を絶対に改行させない */
    font-size: 14px;           
    background-color: #7faedb;
    color: #ffffff;
    border-radius: 100vh;      /* 綺麗なカプセル型 */
    text-decoration: none;
}

.btn-small:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

/* 通常時はスマホ用ボタンとメニューを完全に隠しておく */
.hamburger, .nav-sp {
    display: none;
}

.sp-concept {
    display: none;
}

@media (max-width:1023px) {
    /* PC用ナビゲーションを非表示にする */
    #nav-pc {
        display: none;
    }
    
    #menu-sp {
        display: none;
    }

    /* スマホ用ボタンとメニューを表示する */
    #hamburger,.nav-sp {
        display: block;
    }

    /* ハンバーガーボタンを表示して配置を固定 */
    .hamburger {
        display: block;
        position: absolute;
        top: 60px;    /* 記事の32pxからヘッダーの高さに合わせて調整 */
        right: 30px;   /* 右端からの距離 */
        cursor: pointer;
        z-index: 100;  /* メニューより手前に出す */
        width: 70px;
        height: 70px;
        border: 1px solid #7FAEDB;        /* 1. 線の太さ・種類・色（テーマカラー） */
        border-radius: 10px;              /* 2. 角を丸くする（数字を大きくするともっと丸くなります） */
        padding: 14px 10px;               /* 3. 内側に余白を作って、三本線を中央に寄せる */
        box-sizing: border-box;     
    }
    
    .hamburger span {
        display: block;
        position: absolute;
        height: 2px;
        background-color: #7FAEDB; /* 線の色（カフェのテーマカラー） */
        width: calc(100% - 20px); /* ハンバーガーボタンの幅から左右のpaddingを引いた値 */
        left: 10px;
        transition: all .3s;
    }

      /* 3本の線の初期位置 */
    .hamburger span:nth-of-type(1) { top: 22px; }
    .hamburger span:nth-of-type(2) { top: 32px; }
    .hamburger span:nth-of-type(3) { top: 42px; }

    /* ★openクラスがついた時（✕マークに変化） */
    .hamburger.open span:nth-of-type(1) {
        top: 25px;
        transform: translateY(6px) rotate(-33deg);
    }
    .hamburger.open span:nth-of-type(2) {
        opacity: 0; /* 真ん中の線を消す */
    }
    .hamburger.open span:nth-of-type(3) {
        top: 37px;
        transform: translateY(-6px) rotate(33deg);
    }

    .nav-sp {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #DCEAF7;
        z-index: 90;
        padding: 100px 40px 300px 40px;
    }

    .nav-sp ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .nav-sp ul li {
        text-decoration: none;
        color: #7FAEDB;
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width:767px) {
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0 40px;
    }

    .icon img {
        width: 100px; /*横幅を決めると多kさを自動的に同じサイズにしてくれる↓*/
        aspect-ratio: 1 / 1; /*要素を綺麗に正方形にする*/
    }

    .concept{
        display: none;
    }

    .sp-concept {
        display: block;
        padding: 60px 40px 0 40px;
    }

    .sp-concept-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .subtitle {
        padding-bottom: 0;
        font-size: 12px;
        width: 100px;
        height: 50px;
    }

    .menu-section {
        display: inline-block;
        row-gap: 20px;
        column-gap: 20px;
        display: inline-grid;
        grid-template-rows: repeat(2,fit-content(100%));
        grid-template-columns: repeat(2,fit-content(100%));
    }

    .menu-item img {
        width: 100%;
    }

    .menu-name,.price {
        font-size: 10px;
    }

    .access-section {
        flex-direction: column;
    }

    .map {
        width: 100%;
    }

    .access-info {
        width: 100%;
    }

    .footer-right {
        display: none;
    }

    .footer-left {
        width: 100%;
    }
}